<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[愉快]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[饥饿]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[休闲]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[疯了]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[骷髅]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[溴大了]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[菜刀]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[乒乓]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[饭]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嘴唇]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[刀]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[差劲]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[YES]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱情]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[跳跳]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发抖]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[怄火]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[转圈]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[磕头]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[回头]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[跳绳]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[投降]</string>
	</dict>
</array>
</plist>
